.Dropdown__item {
  background: transparent;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  cursor: pointer;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: right;
  color: #1d1f22;
  width: 100%;
}

.Dropdown__item--active {
  background-color: #eeeeee;
}

.Dropdown__item--link {
  text-decoration: none;
}

.Dropdown__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  z-index: 999;
  width: 7.125rem;
  top: 3rem;
  background: #ffffff;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}
