.IconButton {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: transparent;
  min-width: 2.375rem;
  min-height: 2.375rem;
  border-radius: 50%;
  cursor: pointer;
}

.IconButton--primary {
  background: #5ece7b;
  color: #ffffff;
}
