.HeaderCart__container {
  display: flex;
  position: relative;
}

.CurrencyDropdown__item--link {
  text-decoration: none;
  width: 100%;
  display: flex;
  padding: 0.75rem;
}

.HeaderCurrencies__container {
  display: flex;
  position: relative;
}
.Header__currency {
  display: flex;
  align-items: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #1d1f22;
}

.HeaderCurrency__code {
  margin-left: 0.5rem;
}

.HeaderCartBadge__container {
  position: relative;
}

.HeaderCart__badge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.25rem;
  width: 1.25rem;
  position: absolute;
  border-radius: 50%;
  background: #1d1f22;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  top: 0px;
  right: 0px;
}

.CartDropdown__title--bold {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.CartDropdown__title--normal {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.CartDropdown__header {
  display: flex;
  width: 100%;
}
.CartDropdown__footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 1rem;
}

.CartDropdown__total--text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #1d1f22;
}

.CartDropdown__total--amount {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}
