.Home {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.Home__category--name {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #1d1f22;
  text-transform: capitalize;
}

.ProductCards__container {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .Home {
    padding-left: 8.25rem;
    padding-right: 8.25rem;
  }
}
